/* font-family: "Ubuntu", sans-serif;
font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

.program_container{
    background: linear-gradient(to right, #FFC700, #FD7900);
    padding: 50px 0px;
}
.container h2{
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    padding: 50px 0px 60px;
    font-weight: 400;
}

.accordion{
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}
.accordion .item{
    font-family: "Ubuntu", sans-serif;
    border: 0;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 7px;
    font-size: 18px;
}
.accordion .item  button{
    font-size: 19px;
    color: #252B42;
    font-weight: 700;
    background-color: transparent;
    box-shadow: none;
    transition: all 1s ease;

}

.accordion .item button:active::after, 
.accordion .item button:focus::after{
    border-radius: 50%; 
    transition: all 1s ease;
}
.accordion .item .accordion-collapse{
    transition: all .4s ease;
}
