/* font-family: "Ubuntu", sans-serif;
font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');

.main_header{
    background-color:  #FAFAFA;
    height: 680px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 45px;
}

.text{
    display: flex;
    flex-direction: column;
    max-width: 573px;
    width: 100%;
}
.buttons{
    display: flex;
    gap: 30px;
}

.hero img{
    width: 585px;
    height: 680px;
}
.pretitle h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
    color: #252B42;
}
.title p{
    font-family: "Roboto", sans-serif; 
    font-size: 18px;
    color:#737373;
    margin-top: 13px;
}
.buttons a{
    width: 162px;
    height: 52px;
    text-decoration: none;
    border: 1px solid #96BB7C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: all 0.8s ease; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.sec_button{
    background-color: #96BB7C;
    color: #FAFAFA;
}
.sec_button:hover{
    background-color: #FAFAFA;
    color: #96BB7C;
}
.first_button{
    color: #96BB7C;
}
.first_button:hover{
    background-color: #96BB7C;
    color: #FAFAFA;
}
.small_image {
    width: 100px;
    height: auto; 
    margin-left: 10px; 
    animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@media all and (max-width:970px){
    .hero img{
       width: 450px;
       height: 530px;
    }
    .pretitle h1{
        font-size: 35px;
    }
    .main_header{
        display: flex;
        justify-content: flex-end;
        height: 550px;
    }
    .container{
        justify-content: flex-end;
    }
}

@media all and (max-width:820px){
    .hero img{
       width: 350px;
       height: 420px;
    }
    .container{
        gap: 20px;
    }
}